<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a routerLink="/" class="logo d-flex align-items-center me-auto">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">Culturel</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      
      <ul>
        <li *ngIf="token"><a routerLink="/app/media/add" routerLinkActive="active">Education et Sensibilisation</a></li>
        <li *ngIf="token"><a routerLink="/app/site/add" routerLinkActive="active">Sites Patrimoniaux</a></li>
        <li *ngIf="token"><a routerLink="/app/mapping/add" routerLinkActive="active">Gestion des Event culturels</a></li>

      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>



    <a class="btn-getstarted" routerLink="/auth" *ngIf="!isLoggedIn">Log in</a>
    <a class="btn-getstarted" routerLink="/create-account" *ngIf="!isLoggedIn">Sign Up</a>
    <a class="btn-getstarted" (click)="logout()" *ngIf="isLoggedIn">Logout</a>

  </div>
</header>



